.App {
  text-align: center;
  
}

body {
  background-color: #577399;
  color: #F7F7FF;
}

.container {
  margin-top: 5%;
}

#location {
  color: #BDD5EA;
}

.btn-circle {
  width: 60px;
  height: 60px;
  padding: 10px;
  border-radius: 35px;
  font-size: 24px;
  color: #F7F7FF;
  font-weight: bold;
  line-height: 1.33;
  background-color: #FE5F55;
  margin-top: 15px;
}

.btn-circle:hover {
  background-color: #F7F7FF;
  color: #FE5F55;
}

#weather-icon {
  width: 90px;
}

.form-label {
  font-weight: bold;
}

